BODY {
	font-family: Arial, Verdana, sans-serif;
	font-size: 10pt;
    margin: 5px;
}    

H1, H2, H3, H4, H5, H6, P {
    margin: 0;
    padding: 0;
}

DL {
    margin-left: 2em;
    padding: 0.5em;
    background-color: #EEE;    
}

DT {
    font-weight: bold;
}
    
#container {
    margin: auto;
    width: 960px;
    min-height: 10em;
    border: 1px #999 inset;
    position: relative;
}

HEADER {
/*
    position: absolute;
    top: 0;
    height: 4em;
*/
    width: 100%;
}
#header_content {
    background-color: #EEF;
    text-align: center;
}
#menu {
    background-color: #FFE;
    width: 100%;
    min-height: 1em;
}

#content {
/*    margin-top: 4em; */
    margin-top: 1em; 
    margin-bottom: 1em;
    padding: 0.5em;
}

.highlight {
    font-weight: bold;
    color: #009;
}

FOOTER {
    position: absolute;
    bottom: 0;
    background-color: #FEE;
    text-align: center;
    width: 100%;
    height: 1.1em;
}
FOOTER P {
    font-size: 8pt;
    padding: 2px;
}
